body {
  background-color: #dddddd;
  background-image: url(../FILES/fundotemporario2.png);
  background-position: center;
  background-repeat: no-repeat;
  
  background-size: cover;
    }

    footer {
      background-color: rgb(50, 50, 50);
      color: white;
      padding: 50px;
      text-align: center;
      margin-top: 300px;
      margin-left: -10px;
  }
  
  .textofinal{
      color:white;
      font-family: Arial;
      font-size: 35px;
  
  }

  .logosofia {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    margin-top: 20px; 
  }
  #logo {
    width: 170px;
    height: 150px;
    border: black solid 3px;
    border-radius: 15px;
  }
  
  #textosofia {
    font-size: 32px;
    font-weight: bold;
    color: black;
  }

.direct{
  display: flex;
  color:black;
  text-decoration: none;
  margin-left: -10px;

}

/* nav bar */

.container {
  margin: 0 auto;
  padding: 5px;
  max-width: 120px;
  text-align: center;
}

nav {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  margin: 10px 0;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  padding: 10px 5px;
  display: block;
  transition: all 0.5s ease;
}

nav ul li a:hover {
  background-color: #9e9e9e;
  color: #fff;
  border-radius: 15px;
}
  /* nav-bar */

.filtro-pets{
  flex-direction:row;
  gap:20px;
  width: 250px;
  height: 40px;
  border: none;
  font-size: 20px;
  display: flex;
  margin-left: 210px; 
  margin-top: 100px;
}

.buscar {
  position: flex;
  margin-top: 30px;
  text-align: center;
  width: 140px;
  height: 50px;
  border:none;
  font-size: 25px;
  color: #ffffff;
  background-color: #0091ff; 
  cursor: pointer;
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
}

.allcards-adocao{
  display: flex;
  flex-direction:row;

}

#card-section-1{
  margin-top:70px;
}

.itemLista {
  text-align: start;
}

.card-adocao{
  display: flex;
  margin-left: 65px;
  margin-top: 45px;
  transition: box-shadow 0.2s ease-in-out, transform 0.35s ease-in-out;
}

.card-adocao:hover{
    box-shadow: 0 11px 11px 0 rgba(0, 0, 0,.16);
    transform: translateY(-15px);
}
.buscar:hover{
  background-color: #60b8fb; 
}