body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: rgb(126, 74, 126);
  background-image: linear-gradient(white, rgb(126, 74, 126));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background-color: rgb(50, 50, 50);
  color: white;
  padding: 50px;
  text-align: center;
  margin-top: 1100px !important;
  margin-left: -10px;
}

.textofinal {
  color: white;
  font-family: Arial;
  font-size: 35px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


/* nav-bar */
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);

.imputpretty{
  height: 30px;
  border: none;
  font-size: 20px;
}

.customcontato{
  position:absolute;
  top:300px;
  left:400px;
  right: 400px ;
  color:black;
  font-family:arial;
  font-size:25px;
}

body form {
  background: #999;
  width: 600px;
  margin: auto;
  padding: 40px;
  font-family: "Open Sans Condensed", sans-serif;
}


h1 {
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
}

input, textarea, button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #218838;
}

.result {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.hidden {
  display: none;
}

.pet-photo {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}