body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #dddddd;
  margin: 0;
  padding: 20px;
  background-image: url(../FILES/fundotemporario.jpg);
    background-position: center;
    background-repeat: no-repeat;
    
    background-size: cover;
}

footer {
  background-color: rgb(50, 50, 50);
  color: white;
  padding: 50px;
  text-align: center;
  margin-top: 900px;
  margin-left: -10px;
}

.textofinal {
  color: white;
  font-family: Arial;
  font-size: 35px;

}

#logo {
  display: flex;
  margin-top: -10px;
  margin-left: -30px;
  border: black solid 6px;
  width: 185px;
  height: 165px;
  align-items: center;
  font-family: Arial;

}

#textosofia {
  display: flex;
  font-size: 32px;
  margin-left: -26px;
  color: black;
  font-weight: bold;

}

.direct {
  display: flex;
  color: black;
  text-decoration: none;
  margin-top: 15px;
  margin-left: -10px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 130px;
  align-items: flex-start;
  margin-top: 30px;
}

nav {
  background: #fff;
  border-radius: 50px;

  box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 5px 13px;
  margin: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #777;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 0.5s;
}

nav ul li::after {
  content: "";
  background: #707070;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-55%, -35%);
  z-index: -1;
  opacity: 0;
  transition: top 0.5s, opacity 0.5s;
}

nav ul li:hover {
  color: #fff;
}

nav ul li:hover::after {
  top: 50%;
  opacity: 1;
}

/* nav-bar */
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);

.imputpretty{
  height: 30px;
  border: none;
  font-size: 20px;
}

.customcontato{
  position:absolute;
  top:300px;
  left:700px;
  right: 200px ;
  color:black
  font-family:arial;
  font-size:25px;
}

body form {
  background: #999;
  width: fit-content;
  padding: 40px;
  font-family: "Open Sans Condensed", sans-serif;
}


h1 {
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
}

input, textarea, button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #218838;
}

.result {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.hidden {
  display: none;
}

.pet-photo {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}