
body {
    background-color: #dddddd
    /*background-image: url(wallpaper.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
    }

.final-pag{
    position: absolute;
    top:1800px;
    left: 0px;
    width: 1480px;
    height: 200px;
    background-color: #252525;
    }

.textofinal{
    color:white;
    font-family: Arial;

}

#logo{
    position: absolute;
    left:580px;
    top:40px;
    border: black solid 6px;
    width: 300px;
    height: 250px;
    align-items: center;
    font-family: Arial;
    
}

.cuidado{
    border: 10px solid #ff0000;
    position: flex;
    top:100px;
    left:20px;
}

.textovideo{
    color:rgb(17, 13, 3);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    position: flex;
    top:20px;
    left:20px;
}