.main-title {
  color: #f10000;
  border-bottom: 3px solid;
  margin: 35px 0;
  width: 350px;
}

.voluntariado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-text{
  font-size: 28px;
  color: black;
  font-weight: bold;
  margin-top: 5px;
}

.main-card {
  width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.card-item {
  width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: space-around;
}

.card-image {
  width: 320px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 6px solid black;
  border-radius: 25px;
}

.footer {
  margin-top: 50px !important;
}

.pix-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
  align-items: center;
  padding: 0 10%;
}

.card-info {
  display: flex;
  align-items: center;
}

.pix-image {
  width: 80px;
  height: 80px;
}

.qr-image {
  width: 150px;
  height: 150px;
}

.phone-image {
  width: 50px;
  height: 50px;
}