
body {
  background-color: #dddddd;
  background-image: url(../FILES/fundotemporario2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #333;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}
  
      footer {
        background-color: rgb(50, 50, 50);
        color: white;
        padding: 50px;
        text-align: center;
        margin-top: 200px !important;
        margin-left: -10px;
    }
    
    .textofinal{
        color:white;
        font-family: Arial;
        font-size: 35px;
    
    }
  
  

  
  
  /* nav bar */
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }
    /* nav-bar */
    .abaduvida{
      background-color: #37276a;
      color: #fdfdfd;
      cursor: pointer;
      padding: 18px;
      width: 1390px;
      border: none;
      border-radius: 20px;
      text-align: left;
      outline: none;
      font-size: 30px;
      transition: 0.4s;
      border-bottom: 2px solid white;
    }
    
    .painel{
      padding: 0 18px;
      width: 1300px;
      background-color: #fdfdfd;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      font-size: 20px;
    }
    
    .duvidasgeral{
      margin-top: 50px;
      font-family:Arial;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    .active, .abaduvida:hover {
      background-color: #3c19a3;
    }
    
    #map {
      height: 100%;
    }
    