body {
    background-color: rgb(126, 74, 126);
    background-image: linear-gradient(white, rgb(126, 74, 126));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* footer pra bota em geral */
.footer {
    background-color: transparent;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.footer p {
    margin: 5px 0;
}

/* fim dos footer */

.textofinal{
    color:white;
    font-family: Arial;
    font-size: 35px;

}

.logosofia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#logo {
    border: black solid 6px;
    border-radius: 15%;
    width: 200px;
    height: 200px;
}

#textosofia {
    display: flex;
    font-size: 32px;
    font-family: Arial;
    margin-top: 10px;
}

.direct {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.all-menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
}

.menu-item {
    position: relative;
    border: black solid 6px;
    border-radius: 10%;
    width: 300px;
    height: 220px;
    transition: box-shadow 0.2s ease-in-out, transform 0.35s ease-in-out;
    background-size: cover;
    background-position: center;
}

.menu-item:hover {
    box-shadow: 0 11px 11px 0 rgba(0, 0, 0, .16);
    transform: translateY(-10px);
}

.menu-adocao {
    background-image: url('../FILES/adoção.jpg');
}

.menu-cadastro {
    background-image: url('../FILES/cadastro de pets.jpg');
}

.menu-doacao {
    background-image: url('../FILES/doações.jpg');
}

.menu-voluntario {
    background-image: url('../FILES/voluntariados.jpg');
}

.menu-sobre {
    background-image: url('../FILES/sobre.nos.jpg');
}

.menu-cuidado {
    background-image: url('../FILES/cuidadopet.png');
}

.menu-item:hover {
    box-shadow: 0 11px 11px 0 rgba(0, 0, 0, .16);
    transform: translateY(-10px);
}


.textomenu {
    color: white;
    font-family: Arial;
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    text-align: center;
}
