
body {
  background-color: #dddddd;
  background-image: url(../FILES/fundotemporario.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}


.container {
  margin: 0 auto;
  padding: 5px;
  max-width: 120px;
  text-align: center;
}


.logosofia {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  margin-top: 20px; 
}
#logo {
  width: 170px;
  height: 150px;
  border: black solid 6px;
}

#textosofia {
  font-size: 32px;
  font-weight: bold;
  color: black;
}


nav {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  margin: 10px 0;
}

nav ul li a {
  text-decoration: none;
  color: #777;
  padding: 10px 20px;
  display: block;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
}


section {
  margin-bottom: 40px;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

section p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.developer h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.developer p {
  font-size: 1rem;
  line-height: 1.5;
}


footer {
  background-color: rgb(50, 50, 50);
  color: white;
   }